2/ai-agent-sql.json
{
  "name": "ai-agent-sql",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent-sql",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "68635f61-ebb8-4af5-8343-c5f8094f7e78",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ],
      "webhookId": "ai-agent-sql-webhook",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "mistral:7b",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "8fdabf79-efe4-4370-972a-2019efc4fe06",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -96,
        176
      ],
      "credentials": {
        "ollamaApi": {
          "id": "a8Ee7AbQPhefGhRl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "f13b6e9a-868c-4ba8-8c83-1e58fb97d421",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        128,
        192
      ],
      "id": "ad985ec9-ae14-4f05-b7bc-3e398d13f3d6",
      "name": "Select rows from a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "IVT4jl0H4TmrayYg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        -64
      ],
      "id": "a49f87f2-ccff-4184-a07b-3fc0a8845477",
      "name": "AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "186fba17-16af-4f6c-a63f-26323029c242",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56713040c587ee1e8a353c4349b956aba7e7011a2b4b1144b78e67e7b32967d2"
  },
  "id": "XhY2wuD3HRgkicGT",
  "tags": []
}